.center {
    margin: auto;
    text-align: center;
}

.dropdown.profile-element.center img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.text-8 {
    font-size: 8px !important;
}

.text-10 {
    font-size: 10px !important;
}

.text-12 {
    font-size: 12px !important;
}